#bannerRow {
	background-color: #002859;
}

#banner {
	padding-bottom: 5px;
}

#safpBannerCol {
	background-color: #92B1CD;
}

#safpText {
	color: #FFFFFF;
}

.tdcButton {
	background-image: linear-gradient(#3E5C81, #022A5A);
	width: 230px;
	height: 50px;
	color: #FFFFFF;
	border: 1px solid #666666;
	border-radius: 5px;
}

.tdcButton:hover {
	background-image: linear-gradient(#ADC4D9, #93B2CD);
}

.tdcButton:focus {
	outline: none;
	background-image: linear-gradient(#ADC4D9, #93B2CD);
}

.buttonHolder {
	padding-top: 5px;
	padding-bottom: 5px;
}

#carouselExampleIndicators {
	background-color: black;
}

.imageAdjust {
	width: 500px;
	height: 200px;
	object-fit: contain;
	padding-top: 15px;
	padding-bottom: 15px;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}

#buttonFluid {
	background-color: #92B1CD;
	margin-top: 5px;
}

.indent {
	text-indent: 25px;
}