#topBar {
	background-color: #002859;
	color: white;
	font-size: 24px;
}

#missionText {
	background-color: #002859;
	color: white;
	height: 96px;
	padding-left: 200px;
	text-align: right;
	font-style: italic;
}